# **What Are Data Structures?**

Data structures are special containers that **store multiple** values in Python.
They help us:



*    Organize data


*   Modify and manage large amounts of information easily



*    Access data faster



Today, we learn 3 important data structures:


*   **Lists**

*   **Tuples**
*   **Dictionaries**

# **Lists**

A list is an **ordered collection** of items.
It is **changeable**, which means we can add, remove, or update values.

**✔ Characteristics**


*   Written in square brackets → [ ]
*   Items are indexed (starting from 0)


*   Supports adding/removing items

In [ ]:
fruits = ["apple", "banana", "mango"]
marks = [85, 90, 78]
mix = ["asma", 20, True]

# **List Operations**
 **1. Accessing elements**

In [ ]:
fruits = ["apple", "banana", "mango"]
print(fruits[0])   # apple
print(fruits[2])   # mango

apple
mango

**2. Changing element**

In [ ]:
fruits[1] = "orange"
print(fruits)  # ["apple", "orange", "mango"]

['apple', 'orange', 'mango']

**3. Adding items**

In [ ]:
fruits.append("grapes")
print(fruits)

['apple', 'orange', 'mango', 'grapes']

**4. Removing items**

In [ ]:
fruits.remove("apple")
print(fruits)

['orange', 'mango', 'grapes']

**5. List length**

In [ ]:
print(len(fruits))

3

# **3. Tuples**

A tuple is similar to a list but **cannot be changed**.
It is immutable.

**✔ Characteristics**



*   Written in parentheses → ( )

*   Ordered
*   Cannot modify values

**Accessing tuple elements**

In [ ]:
colors = ("red", "green", "blue")
print(colors[0])  # red

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

red
cherry

**Add Item**

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

**Update tuple**

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**Tuples cannot be changed**

In [ ]:
colors[1] = "yellow"
# ❌ This will give an error

TypeError: 'tuple' object does not support item assignment

# **4. Dictionaries**

Dictionaries store data in key : value pairs.
Each item has a name (key) and a value.

**✔ Characteristics**



*   Data is stored as key-value pairs






*   Written in curly braces → { }




*   Keys must be unique
*   Values can be changed

In [ ]:
student = {
    "name": "Asma",
    "age": 20,
    "grade": "A"
}

**Dictionary Operations**

**Accessing value**

In [ ]:
student = {"name": "Asma", "age": 20}
print(student["name"])  # Asma

Asma

**Changing values**

In [ ]:
student["age"] = 21
print(student)

{'name': 'Asma', 'age': 21}

**Adding new key-value**

In [ ]:
student["city"] = "Bahawalpur"
print(student)

{'name': 'Asma', 'age': 21, 'city': 'Bahawalpur'}

**Removing key-value**

In [ ]:
student.pop("age")
print(student)

{'name': 'Asma', 'city': 'Bahawalpur'}

**Lists** → Changeable, ordered → ["apple", "banana"]

 **Tuples** → Unchangeable, ordered → ("red", "green")

**Dictionaries** → Key-value pairs → {"name": "Asma", "age": 20}