# **Sets**

A set in Python is a **collection of unique items**.

It is mostly used when you want to remove duplicates  or check membership quickly.

**✔ Characteristics of Sets:**

*   Written in curly braces → { }

*   No duplicates allowed
*   Unordered (items have no index)


*   Changeable (you can add/remove items)

In [ ]:
numbers = {1, 2, 3, 4}

In [ ]:
duplicates = {1, 2, 2, 3}
print(duplicates)
# Output: {1, 2, 3}
# Python automatically removes duplicate "2"

{1, 2, 3}

**Set Operations**

**1. Creating a Set**

In [ ]:
my_set = {10, 20, 30}
print(my_set)

{10, 20, 30}

**2. Adding Items**

In [ ]:
fruits = {"apple", "banana"}
fruits.add("mango")
print(fruits)

{'mango', 'banana', 'apple'}

 **3. Removing Items**

In [ ]:
fruits.remove("banana")
print(fruits)

{'mango', 'apple'}

**4. Checking If Value Exists**

In [ ]:
numbers = {5, 10, 15, 20}
print(10 in numbers)   # True
print(50 in numbers)   # False

True
False

**5. Set Length**

In [ ]:
print(len(numbers))

4

**6. Removing Duplicates Using Set**

In [ ]:
data = [1, 2, 2, 3, 3, 3, 4]
unique_data = set(data)
print(unique_data)  # {1, 2, 3, 4}

{1, 2, 3, 4}

**7. Union (Combine Sets)**

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))
# Output: {1, 2, 3, 4, 5}

**8. Intersection (Common Values)**

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.intersection(b))
# Output: {2, 3}